
.button
{
    width: 200px;
}

.separación
{
    margin-top: 20px;
}

.border
{
    display: flex;
    flex-flow: column;
}

.row
{
    display: flex;
    flex-flow: row;
}

.scroll-viewport {
    height: 160px; // Ajusta la altura según tus necesidades
    overflow-y: auto;
}