
.textareacampo{
    background-color: green;
    color:white;
    text-emphasis-color: white;
    font-family: "Jacquarda Bastarda 9", serif;
    font-weight: 400;
    font-style: normal;
}	

.button
{
    width: 200px;
}

.separación
{
    margin-top: 20px;
}

.border
{
    display: flex;
    flex-flow: column;
}

.row
{
    display: flex;
    flex-flow: row;
}

