<mat-form-field>
  <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1"
    cdkAutosizeMaxRows="10" >{{calculo}}</textarea>
</mat-form-field>
<div class="row">
  <div class="border">
    <div>
      <button mat-raised-button (click)="division()">/</button>
      <button mat-raised-button (click)="multiplicacion()">*</button>
      <button mat-raised-button (click)="borrar()">C</button>
      <button mat-raised-button (click)="borrarUltimo()"><mat-icon>keyboard_backspace</mat-icon></button>
    </div>
    <div class="separación"></div>
    <div>
  <div class="border">
    <div>
      <button mat-raised-button (click)="siete()">7</button>
      <button mat-raised-button (click)="ocho()">8</button>
      <button mat-raised-button (click)="nueve()">9</button>
      <button mat-raised-button (click)="suma()" >+</button>
    </div>
    <div class="separación"></div>
    <div>
      <button mat-raised-button (click)="cuatro()">4</button>
      <button mat-raised-button (click)="cinco()">5</button>
      <button mat-raised-button (click)="seis()">6</button>
      <button mat-raised-button (click)="resta()">-</button>
    </div>
    <div class="separación"></div>
    <div>
      <button mat-raised-button (click)="uno()">1</button>
      <button mat-raised-button (click)="dos()">2</button>
      <button mat-raised-button (click)="tres()">3</button>
      <button mat-raised-button (click)="total()" ><mat-icon>keyboard_return</mat-icon></button>
    </div>
    <div class="separación"></div>
    <div class="row">
    <button mat-raised-button width class="button" (click)="cero()">0</button>
    <button mat-raised-button (click)="punto()" >.</button>
  </div>
</div>
</div>
<router-outlet />