
.textareacampo{
    background-color: green;
    color: black;
    border-color: aquamarine;
    
}	

.button
{
    width: 200px;
}
.separación
{
    margin-top: 20px;
}
.border
{
    display: flex;
    flex-flow: column;
}
.row
{
    display: flex;
    flex-flow: row;
}

